.ver-pagina{
  font-size: 18px;
  float:left;
}

#btn01{
  background:rgb(224, 54, 16);
   border:rgb(224, 54, 16);
   float:left;


}
#img_user{
  border-radius: 20px;
  width:95%;
  height:92%;
  margin-top: 2%;

}
.column1{
  background:#d6d6d691;
  border-radius: 20px;

  font-family: 'Open Sans', sans-serif;


}
.columninfo{
  margin-left: 6%;
}
.label-info-alumno-tutor{
  text-align: center;
  font-size:22px;
}
.label-nombre-alumno{
font-size: 26px;
}
.label-grado-matricula{
  font-size: 19px;
}
#column1 p{
  margin-top: 0;
  padding-top: 0;
  font-size: 18px;



}
.infoalumno{
  width: 100%;
  margin-top: 1.5%;
border-radius: 10px;
  background:#dbdbdb;
   padding: 0%;
}
#infoalumno Strong{
  font: size 16px;
font-family: Arial, Helvetica, sans-serif;
}
#infoalumno label{
  color:#000000;
  font: size 20px;

}
#container01{
  width: 100%;
  padding: 0%;
  height: 20%;
}
#container02{
  width:80%;
  height:70%;
  padding: 0%;

}
#container02 label{
  font-size: 18px;
  color: #252525;
 font-family: Arial, Helvetica, sans-serif;
}
#tabla{
  width: 95%;
}

.nav {
  background-image: linear-gradient(to bottom right, rgb(134, 33, 10),rgb(224, 54, 16));
  padding-right: 2em;
  background:  	rgb(38, 104, 161);
}

.modal_registrar_nuevo{
  width: 1300px !important;
}
.activomenu {
  background-image: linear-gradient(to bottom right, rgb(35, 78, 116),rgb(42, 98, 146));
}

.notifications {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;

}
.transicion--bouncelnDown {
  animation-name: fadeIn;
}
@keyframes bouncelnDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.notifications {
  animation-duration: 0.4s;
  animation-delay: 0.01s;
}
.notificationss {
  animation-duration: 2s;
  animation-delay: 0.01s;
  animation-iteration-count: 1;
}
.notificationsss {
  animation-duration: 0.6s;
  animation-delay: 0.01s;
  animation-iteration-count: 1;
}
.input {
  text-align: start;
  padding-left: 0px;
}

@media screen and (max-width: 576px) {
  table {
      width:100%;
  }

Button#btnAgregar{
    display: none;
  }
  #tabla2{
    overflow-x:scroll;

  }
  #descargar{
    margin-top: 2%;
    font-size: 11px;
  }

}

.menu-list li{
  font-size: 16px;
}
.activomenu{
  color:#ffffff;
}
